/* This file contains all the constants for colors and font styles */

$body-font: ETBembo, "Chronicle Text G2", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
// Note that Gill Sans is the top of the stack and corresponds to what is used in Tufte's books
// However, it is not a free font, so if it is not present on the computer that is viewing the webpage
// The free Google 'Lato' font is used instead. It is similar.
$sans-font: "Gill Sans", "Gill Sans MT", "Gotham Narrow", "Lato", Calibri, sans-serif;
$code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$url-font: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
$text-color: #111;
$bg-color: #fffff8;
$contrast-color: #a00000;
$border-color: #333333;
$link-style: underline; // choices are 'color' or 'underline'. Color option styles links with $contrast-color set above



.course-entry {
    font-size: 1.2rem;        // adjust this to 1.3rem or 1.4rem if you want it even larger
    line-height: 1.6;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .course-entry strong {
    font-size: 1.3rem;
  }
  
  .course-entry em {
    font-style: italic;
  }

  hr.course-divider {
    border: none;
    border-top: 2px solid #aaa;
    width: 100%;
    max-width: 55ch;   // matches the main content width
    margin: 1rem auto;
    opacity: 0.8;
  }
  hr.course-divider.first-divider {
    margin-top: 2rem; // cleanest & safest
  }

  .course-block {
    max-width: 55ch;     // Match main text width
  }